<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor 2 Cloud Demo</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/styles.css')}}">
</head>
<body>
    <h1>Sensor 2 Cloud DEMO</h1>

    <table>
        <caption>sensor values</caption>
        <thead>
            <tr>
                <th>Sno</th>
                <th>Sensor Value</th>
                <th>Date Added</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script type="text/javascript" src="{{url_for('static', filename='/index.js')}}"></script>
</body>
</html>